@font-face {
    src: url('Blueshire-Regular.ttf');
}

@font-face {
    src: url('Comic-Sans-MS.ttf');
}

#pane{
    -fx-background-image: url("/simplytext/images/background.jpg");        
    -fx-background-repeat: stretch;
    -fx-background-size:  1300 120;
    -fx-background-position: top ;
}


#titre{
    -fx-font-family: Blueshire Regular;
    -fx-font-size: 25pt;
    -fx-text-fill: black;
}

#titre2{
    -fx-font-family: Blueshire Regular;
    -fx-font-size: 15pt;
    -fx-text-fill: red;
}

#repere{
    -fx-font-size: 25pt;
}

#info{
    -fx-font-size: 12pt;
}

#Label1 {
    -fx-font-family: Comic-Sans-MS;
    -fx-text-fill: red;
    -fx-font-size: 15pt;
}

.radio-button {
    -fx-text-fill: black;
    -fx-font-size: 10pt;
}

.button {
    -fx-font-size: 13px;
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.menu-bar{
    -fx-background-color: grey;
    -fx-border-width: 2
}

.menu-bar .label {
    -fx-font-size: 15 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #dedede;
}


.menu:hover {
    -fx-background-color: #bc784e;
}

#creervotre {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


#return {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 11px;
    -fx-padding: 10 15 10 15;
}


#Label2 {
    -fx-font-family: Comic-Sans-MS;
    -fx-text-fill: black;
    -fx-font-size: 12pt;

#Label3 {
    -fx-font-family: Arial;
    -fx-text-fill: #FF1493;
    -fx-font-size: 20pt;
}
#Label4 {
    -fx-font-family: Arial;
    -fx-text-fill: black;
    -fx-font-size: 15pt;
    -fx-font-style:italic;
   
}
#Label6 {
    -fx-font-family: Arial;
    -fx-text-fill: black;
    -fx-font-size: 10pt;
    text-decoration: underline;
}
