@font-face {
    src: url('Blueshire-Regular.ttf');

}

@font-face {
    src: url('Comic-Sans-MS.ttf');
}


#pane{
    -fx-background-image: url("/simplytext/images/background.jpg");        
    -fx-background-repeat: stretch;
    -fx-background-size:  1300 120;
    -fx-background-position: top ;
}


#titre{
    -fx-font-family: Blueshire Regular;
    -fx-font-size: 25pt;
    -fx-text-fill: black;


}

#repere{

    -fx-font-size: 25pt;

}

#info{
    -fx-font-size: 12pt;

}

#Label1 {
    -fx-font-family: Comic-Sans-MS;
    -fx-text-fill: red;
    -fx-font-size: 15pt;
}

.radio-button {
    -fx-text-fill: black;
    -fx-font-size: 10pt;
    
}

.button {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.menu-bar{
    -fx-background-color: grey;
    -fx-border-color:  #ffff00;
 -fx-border-width: 2

}

.menu-bar .label {
    -fx-font-size: 15 pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #dedede;

}


.menu:hover {
    -fx-background-color: #99cc00;
}

#creervotre{
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);}
